@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");

@font-face {
  font-family: "Mona Sans";
  src: url("https://assets.codepen.io/64/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("https://assets.codepen.io/64/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --icon-scale: 0;
  --icon-rotation: 0;
  --icon-opacity: 0;

  --color-pale-pink: hsl(272 16% 56.99%);
  --color-dark-purple: hsl(269.35 100% 21%);
  --color-light-purple: hsl(269.99 100% 40%);
  --color-bubblegum-pink: hsl(300deg 97% 68%);
}

@supports (color: color(display-p3 0 0 0)) {
  :root {
    --color-pale-pink: color(display-p3 0.56 0.5 0.63);
    --color-dark-purple: color(display-p3 0.19 0.01 0.41);
    --color-light-purple: color(display-p3 0.37 0.01 0.78);
    --color-bubblegum-pink: color(display-p3 0.94 0.36 1);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Mona Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
